Package: helloworld
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: Mikhail Potemkin <potemkinmr@gmail.com>
Description: Print hello for Debian
